* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    background: linear-gradient(100deg, #ffffff, #ffffff);
}

header {
    background-color: #bd00f7;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.Typewriter {
    overflow: hidden;
    border-right: .15em;
    font-size: 1.6rem;
    width: 0;
    animation: 
        typing 1s steps(20, end) forwards;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

#projects {
    display: flex;
    align-items: center;
}